@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;500;600;700&display=swap');


body {
    margin: 0px;
    padding: 0em;
    color: rgb(12, 22, 8);
    min-height: 100%;
    font-family: 'Open Sans';
}
.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.overlay {
    background-image: url(https://pbs.twimg.com/media/EvIDaa_XMAEsFWw?format=jpg&name=4096x4096);
    min-height: 100%;
    min-width: 100%;
    position:absolute;
    background-size:contain;
}
.glass {
    background: rgba(255, 255, 255, 0.226);
    box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 1);
    backdrop-filter: blur( 19.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 1.85vw;
    border: solid 2.65px rgba(190, 190, 190, 0.527);
    padding: 1.5vw;
    width: 90%; 
    height: fit-content; 
    display: block; 
    margin: auto;
}

.hr {
    border-radius: 0.2vw;
    border: solid 7px rgba(0, 0, 0, 0.5);
}
.text {
    background: rgba(0, 0, 0, 0.452);
    position: absolute;
    border: solid 2.65px rgba(255, 255, 255, 0.205);
    backdrop-filter: blur( 2.59px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;    
    padding: 0.5vw;  
    color: white;
    bottom: 0%;
    left:35%;
    right:35%; 
}
h3::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    padding: 0;
    margin: 0;
    height: 0.7vw;
    border-radius: 0.2vw;
    border: solid 0.5px rgba(235, 235, 235, 0.5);
    width: 6.5vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.527);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 2vh;
    width: 100%;
    position: relative;
}
