@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
@font-face {
font-family: Futura;
src: url('Futura.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Times New Roman;
src: url('timesbd.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Playfair Display Semibold Italic;
src: url('PlayfairDisplay-SemiBoldItalic.ttf');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family:Gambarino;
src: url('Gambarino-Regular.otf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Playfair Display Bold;
src: url('PlayfairDisplay-Bold.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Helvetica Neue Extended;
src: url('HelveticaNeueLTStd-BlkEx.otf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Soria ;
src: url('soria-font.ttf');
font-kerning:none;
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Helvetica Neue ;
src: url('HelveticaNeueLTStd-Roman.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: Fira Sans;
src: url('FiraSans-Regular.ttf');
font-weight: normal;
font-style: normal;
}
.glass.dark-theme{
    background-color: rgba(0, 0, 0, 0.452);
}
.material-symbols-arrow {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 40
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
* {box-sizing:border-box;justify-content:center;
    text-align: center;
    align-items: center;}
body{margin: 0px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 0em;
    min-height: 100%;
    color: var(--textcolor);
    font-family: var(--heading-font), 'serif';
    overflow:overlay;
    background-image: var(--bgimage);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    align-items:stretch;
    transition: 0.2s;}
    .textcolor{color: var(--paracolor);
	flex-direction:row;}
    .linkcolor{color: var(--paracolor);}
    .hr {border-radius: 0.2vw;
        border: solid 7px rgba(0, 0, 0, 0.5);}
    h1, h2, h3, h5, h6 {margin: 0;
        margin-bottom: 2vh;
        position: relative;
        -webkit-font-smoothing: antialiased;}
/*Scroll Bar Configuration--------------------------------------------------------------------*/
::selection{background-color: rgba(0, 0, 0, 0.164);
    text-shadow:0 0px 5px var(--blogbackground);}
::-webkit-scrollbar-track{border-radius: 10px;
	background-color: var(--bgcolor-glass);
    border: solid 1px var(--hoverborder);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);}
::-webkit-scrollbar{width: 12px;
	background-color: var(--hoverborder);}
::-webkit-scrollbar-thumb{border-radius: 10px;
    background-color: var(--blogbackground);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: 1px 10px 10px 0px var(--boxshadow);}
/*-----------------------------------------------------------------------------------*/

/*Background Config------------------------------------------------------------------*/
.main {position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow:hidden;}
.overlay {background-image: var(--bgimage);
    min-height: 130%;
    min-width: 100%;
    display: block;
    background-size:cover;
    position: absolute;
    background-position: center;}
.overlay1 {background-image: var(--bgimage);
    min-height: 130%;
    min-width: 100%;
    display: block;
    background-size:cover;
    position: absolute;
    background-position: center;}
/*--------------------------------------------------------------------------------------------*/


/*Toggle Theme--------------------------------------------------------------------------------*/
.buttongroup{display:flex; flex-direction: row; align-items: stretch;}
.buttton{
    display: flex;
    outline: none;cursor: pointer;
    max-width: fit-content;
    max-height: fit-content;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 1.2vw;
    border: solid 1.5px var(--hoverborder);
    box-shadow: 0 5px 16px 0px var(--boxshadow);
    background-color: var(--blogbackground);
    transform-style: preserve-3d;
    transform: perspective(1000px);}
    #dkbutton{font-size: 3.4vw;padding:0.1vw;}
    .social{padding:0;height: 3vw;fill: var(--textcolor);}
    #ytlogo{padding-top: 0.4vw;padding-bottom:0.4vw;height: 3vw;}
    .download{padding:0;width: 4.4vw;fill: var(--textcolor);align-self: stretch;flex-grow: 1;}
    #downloadbutton{padding: 0.4vw; border-radius: 1.5vw;}
    .open{width: 2.5vw !important;padding:0.3vw;fill: var(--blogbackground);box-sizing: content-box; margin-left: 2vw; background: var(--buttonbackground);opacity: 0.7vw;border-radius: 1vw;}
    .socialbutton{font-size: 3.5vw !important;padding:0.5vw;fill: var(--textcolor);}
    .btn-toggle{display: inline;
        aspect-ratio : 1 / 1;
        cursor: pointer;
        font-weight: bolder; 
        background-color: #00000000;
        color: var(--textcolor);
        fill: var(--textcolor);
        border: none;
        outline: none;padding: 0;}
    #themeimage{display: none;}
    .btn-toggle-phone{display: none;}
/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/
#vdkglass,#postemberglass,#trglass{width: calc(50% - 3vw);}
.glasscontain{display: flex;flex-direction: column; width: 50%;}

#mouseglass{margin-bottom:1vw}
#tDglass{margin-top:1vw}
.glass {padding: 3.0vw;
    display:flex;
    flex-direction:column;
    max-width: fit-content; 
    margin: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background: var(--bgcolor-glass);
    box-shadow: 0 10px 16px 0px var(--boxshadow);
    backdrop-filter: blur( 45.0px );-webkit-backdrop-filter: blur( 10.0px );
    border-radius: 3vw;
    border: solid 3px var(--glassborder);
    transition: var(--transition);
    animation-name: fadeinglass;
    animation-duration: 1s;
    animation-iteration-count: 1;
    justify-content:left;
    text-align: center;
    align-items:flex-start;}
    .glasses{width:100%;justify-content: space-between;display:flex; flex-direction:row;align-items:center;}
    .projects{width:100%;justify-content: center;display:flex; flex-direction:column;align-items:flex-start;}
    /*Normal Glass Boxes-------------------------------------------------------------*/
    .boxheading {display:flex;min-width:fit-content; 
	    max-width:fit-content;
	    margin:0.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 3.8vw; 
        text-align: center;
        color: var(--textcolor);
        background: var(--blogbackground);
        box-shadow: 0 5px 16px 0px var(--boxshadow);
        border-radius: 1.5vw;  
        border: solid 3px var(--paraborder);  transform-style: preserve-3d; transform: perspective(1000px);
    transition: 0.2s;}
    .paracontain{display: flex;flex-direction: row;align-items: flex-start;}
    .paracolumn{display: flex; margin-left: 1vw;margin-right: 1vw; width: 50%;}
    .parabig{font-family: var(--body-font);
        font-size: 1.8vw; 
	    margin-top:1vw;margin-bottom:1vw;
        color: var(--paracolor);
        text-shadow:0px 1px 19px var(--parashadow);
        text-align:left ;
        -webkit-font-smoothing: antialiased;}
    .para {
        font-family: var(--body-font);
        font-size: 1.5vw; 
	    margin-top:1vw;margin-bottom:1vw;
        color: var(--paracolor);
        text-shadow:0px 1px 19px var(--parashadow);
        text-align:left ;
        -webkit-font-smoothing: antialiased;}
    /*-----------------------------------------------------------------------------*/
    
    /*Gallery----------------------------------------------------------------------*/
    .imagecontainer{width:calc(50% - 1vw);display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    .passcontain,.passmockupcontain{width:calc(100% - 1vw);display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    #cover,#backcover{width:calc(55% - 1vw);}
    #cfgkey{width: calc(100% - 1vw);}
    .untitledcontain,.photocontainl{width:calc(33.3% - 1vw);display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    .photocontain{width:calc(16.66% - 1vw);display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    .igorcontain,.sdpcontain{width:calc(25% - 1vw);display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    .animcontain{display:inline-flex;flex-direction:column; position:relative; transition: var(--transition); margin: 0.5vw;}
    .incontainer{display:inline-flex;bottom:0vw;}
    .galleryheading{
            margin: 0;
            font-size: 3vw;
            font-weight: 600;
            color: var(--paracolor);transition: var(--transition);}
    .caption{    font-family: var(--body-font);
        font-size: 1.5vw; 
        margin-top:1vw;margin-bottom:1vw;
        color: var(--paracolor);
        text-shadow:0px 1px 19px var(--parashadow);
        text-align:left ;
        -webkit-font-smoothing: antialiased;visibility:hidden; 
        position:absolute; 
        padding:0.5vw; 
        margin:1.5vw; 
        background-color:var(--blogbackground); 
        color:var(--textcolor); 
        border-radius: 0.5vw; 
        left:0vw;
        opacity:0; 
        transition:visibility 0s linear 0.33s, opacity 0.33s ;}
    .imagecontainer:hover > .caption{visibility:visible;opacity:1;transition-delay: 0s;}
    .contentbox{display:flex;flex-direction:row;flex-wrap: wrap;}
    .spacebetween{margin-top: 2vw;}
    #tDbox{align-items: stretch;}
    #objfit{object-fit: cover; height: 100%;}
    #stairs{height: 47vw;}
    .anim{display: flex; 
        flex-wrap: wrap; 
        height: 38vw;
        border: solid 3px var(--imageborder); 
        border-radius: 2vw;
        box-shadow: 0 5px 16px 0px var(--boxshadow);}
    .page,.untitledpg,.image,.sdppg,.igorpg,.photopg,.passpg,.passmockuppg{display: flex; 
        object-fit: cover; height: 100%;
        flex-wrap: wrap; 
        width: 100%;
        border: solid 3px var(--imageborder); 
        border-radius: 1vw;
        box-shadow: 0 5px 16px 0px var(--boxshadow);
   }
    /*.image{display: flex; 
        flex-wrap: wrap; 
        height: 27vw; 
        border-radius: 1vw; 
        box-shadow: 0 5px 16px 0px var(--boxshadow);
        border: solid 3px var(--imageborder); 
        transition: var(--transition);
        margin: 0.5vw; }*/
    /*Blog-------------------------------------------------------------------------*/
    .boxinsidebox {max-width: max-content;
        padding: 1.5vw;
        text-align: center;
        font-size: 3vw;
        color: var(--textcolor);
        background:var(--blogbox); 
        box-shadow: 0 5px 16px 0px var(--boxshadow);
        border: solid 0.2px var(--paraborder);
        transition:0.2s; 
        transform-style: preserve-3d;}
        .blog {
            font-family: var(--body-font);
            display: inherit;
            margin-bottom: 0;
            font-size: 1.2vw; 
            color: var(--paracolor);
            text-shadow:0px 1px 19px var(--parashadow);
            text-align: justify;transition: var(--transition);}
        .inblogtext {
            font-family: var(--body-font);
            display: inherit;
            margin-bottom: 0;
            font-size: 1.2vw; 
            color: var(--paracolor);
            text-shadow:0px 1px 19px var(--parashadow);
            text-align: justify;transition: var(--transition);}
        .exists{display: block !important;transition: 1s;}
        .blogbox{margin:0.7vw;max-width: max-content;
            padding: 1vw;
            text-align: center;
            font-size: 3vw;
            color: var(--textcolor);
            background:var(--blogbox); 
            box-shadow: 0 5px 16px 0px var(--boxshadow);
            border: solid 0.2px var(--paraborder);
            transition: var(--transition);
            overflow: hidden;
            border-radius: 2vw}
        .indexblog{border-radius: 2vw;margin: 0.7vw;}
        
        .headingbutton{display: flex;flex-direction: row;justify-content: space-between;align-items: flex-start;}
        .blogheading{margin-top: 0;
            margin-bottom: 1vw;
            font-size: 2.7vw;
            font-weight: 600;}
        .blogheadingbl{
            text-align: left;
            margin-top: 0;
            margin-bottom: 1vw;
            font-size: 2vw;
            font-weight: 600;
            color: var(--paracolor);
            max-width: fit-content;}
        
        .blogheadingin{
            margin-top: 0;
            margin-bottom: 0.5vw;
            font-size: 2vw;
            font-weight: 600;
            color: var(--paracolor);transition: var(--transition);}
        /*Blog Text------------------------------------------------------------------------------*/
            .more{display: none;
                font-size: 1.2vw;
                font-family: var(--body-font);
                text-align: justify; color: var(--paracolor);margin-bottom: 0;}
            /*Read More Button---------------------------------------------------------------*/
            .readmore{position: relative;
                margin-left: 1vw;
                max-width: fit-content; 
                padding: 0.8vw;
                max-width: fit-content;
                float: right;
                margin-bottom: 0.5vw;
                margin-right: 0%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5vw;
                color: var(--readmore-text);
                background-color: var(--readmore);
                border-radius: 1.1vw;
                border: solid 1px #ffffff00;
                overflow: hidden;}
                #FOSSbutton{float: right;margin-right: 0%;} 
/*-------------------------------------------------------------------------------------*/
#galleryheading{background-color: var(--blogbackground);}

/*AppStuff-------------------------------------------------------------------------------------*/
.appflex{display: flex;flex-direction: row;}
.appbox{max-width: max-content;
        flex: 50%;
        margin: 0.7vw;
        padding: 1vw;
        text-align: center;
        font-size: 3vw;
        color: var(--textcolor);
        background:var(--blogbackground); 
        box-shadow: 0 5px 16px 0px var(--boxshadow);
        border-radius: 1.5vw;
        border: solid 0.2px var(--paraborder);
        transition:var(--transition);}
#droidify{flex: auto !important;}
.appheading{
        display: flex; 
        text-align: left;
        margin: 0;
        font-family: "Helvetica Neue";
        font-size: 2vw;
        font-weight: 600;
        color: var(--textcolor);
        max-width: fit-content;}
.appicon{
    display: flex;
    width: 3vw;
    height: 3vw;
    border-radius: 1vw;
    margin: 0.5vw;
    transition: var(--transition);
}
#blackhole{padding: 0.4vw;background-color: black;}
#stremio{padding:0.4vw;background-color: #201f32;}
#saikou{background-color: #1a222e;}
#infinity{background: linear-gradient(0deg, rgba(19,52,95,1) 0%, rgba(7,25,53,1) 100%); }
#libretorrent{background:#9c27b0;}
#newpipe{background:#cd201f;}
#signal{background: white;padding: 0.4vw;}
#tachiyomi{background:#2e83bf;}
#droid{background:white;}
.applink{color:var(--textcolor);}
.apptext{display: inherit;
        margin: 0;
        font-size: 1.2vw; 
        color: var(--textcolor);
        text-shadow:0px 1px 19px var(--parashadow);
        text-align: justify;transition: var(--transition);}
/*-------------------------------------------------------------------------------------*/
/*Hover Animations----------------------------------------------------------------------*/
.boxheading:hover{background-color: var(--hoverlight); border: solid 3px var(--hoverborder);}
.glass:hover{background-color: var(--hovercolor);border: solid 3px var(--hoverborder);}
.image:hover{border-radius: 1vw; border: solid 3px var(--hoverborder);}
    #glassone:hover,#glasstwo:hover,h3:hover,#glassoriginal:hover,h1:hover{box-shadow: 0 17px 16px 0px var(--boxshadow);}
        .glass:hover{border-radius: 2.5vw;}
        .boxheading:hover{border-radius: 5vw;}
        .boxinsidebox:hover{border-radius: 3vw;}
            #Blogs:hover{border-radius: 5vw;background-color: var(--hoverlight);}
            .blogbox:hover{border: solid 3px var(--hoverborder);border-radius: 1.5vw;}
            #blog:hover{border-radius:2.4vw}
.appicon:hover{transform: scale(1.3);}
.appbox:hover{border-radius: 2vw;}
@keyframes fadeinglass{
    0% {transform: translateY(4vw);}
    100% {transform: translateY(0);}}
/*-----------------------------------------------------------------------------------------*/
