:root{
    --bgcolor-glass:rgba(255, 255, 255, 0.287); 
    --parashadow:#00000073;
    --blogbackground:rgba(0, 0, 0, 0.233);
    --blogbox:rgba(0, 0, 0, 0.233);
    --boxshadow:rgba(0, 0, 0, 0.6);
    --paracolor:rgb(0,0,0);
    --paraborder:rgba(106, 255, 193, 0);
    --textcolor:rgb(0, 0, 0);
    --hoverborder:rgba(12, 0, 0, 0.513);
    --glassborder:rgba(0, 0, 0, 0);
    --hovercolor:rgba(255, 255, 255, 0.5);
    --buttonbackground:rgba(223, 223, 223, 0.452);
    --phonebuttonbackground:rgba(255, 255, 255, 0.424);
    --readmore:rgba(36, 36, 36, 0.274);
<<<<<<< HEAD
    --imageborder:var(--hoverborder);
=======
>>>>>>> b4ac36c1a2dba312523f914d2d0d02e162b70c7a
    --bgimage:url(https://media.discordapp.net/attachments/794971234030059541/961993343217311744/Renderone.png);
    --transition:0.1s;
}   
