:root{
   --bgcolor-glass:rgba(26,28,23,0.7); 
   --parashadow:#00000073;
   --blogbackground:rgba(173,210,132);
   --blogbox:rgba(46, 51, 35, 0.8);
   --boxshadow:rgba(0, 0, 0, 0.6);
   --paraborder:rgba(106, 255, 193, 0);
   --textcolor:#1c3700;
   --paracolor:#dce7c9;
   --hoverborder:#aed2844d;
   --hoverlight:rgba(204, 232, 171);
   --glassborder:#1a1c17;
   --hovercolor:rgba(34,37,30,0.5);
   --buttonbackground:#add284;
   --phonebuttonbackground:rgba(192, 192, 192, 0.609);
   --readmore:#aed284d0;
   --readmore-text: #1c3700;
   --imageborder:#add284;
   --bgimage: url(GreenStuff.jpg);
   --transition: 0.2s;
}