:root{
   --bgcolor-glass: hsla(var(--accent-hue),20%,15%,60%);
   --parashadow:hsla(0, 0%, 0%, 0.451);
   --blogbackground:hsl(var(--accent-hue), 46%, 67%);
   --blogbox:hsla(var(--accent-hue), 30%, 7%, 0.8);
   --boxshadow:hsla(var(--accent-hue),50%, 11%, 0.6);
   --paraborder:hsla(var(--accent-hue), 100%, 71%, 0);
   --textcolor:hsl(var(--accent-hue), 100%, 11%);
   --paracolor:hsl(var(--accent-hue), 47%, 82%);
   --hoverborder:hsla(var(--accent-hue), 46%, 67%, 0.302);
   --hoverlight:hsl(var(--accent-hue), 57%, 79%);
   --glassborder:hsl(var(--accent-hue), 10%, 10%);
   --hovercolor:hsla(var(--accent-hue), 10%, 13%, 0.5);
   --buttonbackground:hsl(var(--accent-hue), 46%, 67%);
   --phonebuttonbackground:hsla(0, 0%, 75%, 0.609);
   --readmore:hsla(var(--accent-hue), 46%, 67%, 0.816);
   --readmore-text: hsl(var(--accent-hue), 100%, 11%);
   --imageborder:hsl(var(--accent-hue), 46%, 67%);
   --heading-font:"Playfair Display Bold";
   --body-font:"Helvetica Neue";
   --bgimage: url("../assets/Backgrounds/Landscape/2.webp") ;
   --transition: 0.2s;
}
 /*--blogbackground:hsl(88, 46%, 67%);
   --blogbox:hsla(76, 30%, 7%, 0.8);
   --boxshadow:hsla(0, 0%, 0%, 0.6);
   --paraborder:hsla(155, 100%, 71%, 0);
   --textcolor:hsl(89, 100%, 11%);
   --paracolor:hsl(81, 47%, 82%);
   --hoverborder:hsla(88, 46%, 67%, 0.302);
   --hoverlight:hsl(88, 57%, 79%);
   --glassborder:hsl(84, 10%, 10%);
   --hovercolor:hsla(86, 10%, 13%, 0.5);
   --buttonbackground:hsl(88, 46%, 67%);
   --phonebuttonbackground:hsla(0, 0%, 75%, 0.609);
   --readmore:hsla(88, 46%, 67%, 0.816);
   --readmore-text: hsl(89, 100%, 11%);
   --imageborder:hsl(88, 46%, 67%);
   --bgimage: url("https://source.unsplash.com/random");
   --transition: 0.2s;*/