:root{
   --bgcolor-glass:rgba(63, 63, 63, 0.287); 
   --parashadow:#00000073;
   --blogbackground:rgba(0, 0, 0, 0.39);
   --blogbox:rgba(0, 0, 0, 0.39);
   --boxshadow:rgba(0, 0, 0, 0.6);
   --paraborder:rgba(106, 255, 193, 0);
   --textcolor:rgb(200, 200, 200);
   --hoverborder:rgba(255, 255, 255, 0.192);
   --glassborder:rgba(255, 255, 255, 0);
   --hovercolor:rgba(63, 63, 63, 0.267);
   --buttonbackground:rgb(200, 200, 200);
   --phonebuttonbackground:rgba(192, 192, 192, 0.609);
   --readmore:rgba(255, 255, 255, 0.623);
   --readmore-text: rgb(0,0,0);
   --imageborder:var(--hoverborder);
   --bgimage: url(https://media.discordapp.net/attachments/794971234030059541/962003775961321622/NIght.png);
   --transition: 0.1s;
   --heading-font:"Playfair Display Bold";
   --body-font:"Helvetica Neue";
}      
